<footer class="footer mb-0 font-weight-lighter" style="font-family: 'Righteous One', cursive;">
      <div class="container">
        <p class="text-muted">It is better to ask forgiveness than permisson <strong>2019</strong></p>
      </div>
</footer>